# Python virtual environment
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
db.sqlite3
*.log
*.pot
*.pyc

# IDE / editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
